<% provide(:title, "#{@group.name} - Edit Invitations") %>
<h1><%= @group.name %> - Edit Invitations</h1>
<%= simple_form_for @group, url: create_invite_group_path(@group), method: :post do |f| %>
  <%= f.input :invitations, label: 'Students to invite', as: :check_boxes, label_method: :full_name, collection: @students %>
  <%= f.button :submit, 'Send Invitations' %>
<% end %>
<%= link_to 'Return to group', draw_group_path(@draw, @group) %>
