<% sizes.each do |size| %>
  <% next if suites[size].empty? %>
  <div class="suites-list" id="suites-<%= size_str(size).pluralize %>">
    <h3><%= headerize_size(size) %></h3>
    <p><%= render partial: 'suites/size_link', collection: sizes.select { |s| s != size }, spacer_template: 'shared/slash' %></p>
    <% unless suites[size].empty? %>
      <table aria-label="Suite Summary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"># Singles</th>
            <th scope="col"># Doubles</th>
            <th scope="col"># Common</th>
            <th scope="col">Draws</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% suites[size].each do |suite| %>
            <% if policy(suite).show? %>
              <tr id="suite-<%= suite.id %>">
                <th scope="row" data-role="suite-number"><%= link_to suite.send(label_method), suite_path(suite) %></th>
                <td data-role="suite-singles"><%= suite.singles.count %></td>
                <td data-role="suite-doubles"><%= suite.doubles.count %></td>
                <td data-role="suite-common"><%= suite.common_rooms.count %></td>
                <td data-role="suite-draws">
                  <%= render partial: 'suites/draw_link', collection: suite.draws.active, spacer_template: 'shared/comma' %>
                </td>
                <td class="actions" data-role="suite-actions">
                  <%= link_to 'View', suite_path(suite), class: 'button' %>
                  <% if policy(suite).edit? %>
                    <%= link_to 'Edit', edit_suite_path(suite), class: 'button' %>
                  <% end %>
                  <% if policy(suite).destroy? %>
                    <%= link_to 'Delete', suite_path(suite), method: :delete, data: { confirm: 'Are you sure you want to delete this suite?' }, class: 'button alert' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
