<h1 class="suite-number"><%= @suite.number %></h1>
<h2>Rooms</h2>
<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to room.number, room_path(room) %> - <%= pluralize(room.beds, 'bed') %></li>
  <% end %>
</ul>
<p><%= link_to 'Add room', new_room_path %></p>
<% if policy(@suite).merge? %>
  <div class="suite-merging">
    <h3>Merge suites</h3>
    <p>Please enter a suite to merge with this one; <b>it must be in the same building</b>. The two suites will be removed from Vesta and will be replaced with a single suite containing all of their rooms. You will able to set the name/number of the new suite on the following page.</p>
    <%= simple_form_for @merger_form, url: merge_suite_path(@suite), method: :get do |f| %>
      <%= f.input :other_suite_number, label: 'Other suite' %>
      <%= f.submit 'Merge' %>
    <% end %>
  </div>
<% end %>
<p><%= link_to 'Delete', suite_path(@suite), method: :delete %></p>

