<% provide(:title, "Split Suite #{@suite.number}") %>
<h1>Split Suite <%= @suite.number%></h1>
<%= simple_form_for @split_form, url: split_suite_path(@suite), method: :post do |f| %>
  <% @suite.rooms.each do |room| %>
    <%= f.input "room_#{room.id}_suite".to_sym,
      label: "#{room.number} (#{room.type}) new suite" %>
  <% end %>
  <%= f.submit 'Split suite' %>
<% end %>
<p><%= link_to 'Cancel', suite_path(@suite) %>
