<table class="users-table">
  <thead>
    <tr>
      <td>Last Name</td>
      <td>First Name</td>
      <td>Username</td>
      <td>Class Year</td>
      <% unless hide_actions %>
        <td></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr id="user-<%= user.id %>">
        <td data-role="user-last_name"><%= user.last_name %></td>
        <td data-role="user-first_name"><%= user.first_name %></td>
        <td data-role="user-username"><%= user.username %></td>
        <td data-role="user-class_year"><%= user.class_year %></td>
        <% unless hide_actions %>
          <td class="actions" data-role="user-actions"><%= render 'users/actions', user: user  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
