<h1> Editing <%= @user.name %> </h1>
<%= simple_form_for @user do |f| %>
  <%= f.select :gender, collection: User.genders.keys %>
  <%= f.select :role, collection: User.roles.keys if current_user.admin? %>
  <%= f.submit 'Save' %>
<% end %>
