<h2 class="user-name">User <%= @user.full_name %></h2>
<h3 class="user-role"><%= @user.role %></h3>
<% if policy(@user).draw_info? %>
  <h3><%= @user.draw.name %></h3>
  <h3 class="user-intent"><%= @user.intent %></h3>
<% end %>
<% if policy(@user).edit? %>
  <h3 class="user-email"><%= @user.email %></h3>
  <div>
    <%= link_to 'Edit', edit_user_path(@user), class: 'button secondary' %>
    <% if policy(@user).destroy? %>
      <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: 'button alert' %>
    <% end %>
  </div>
<% end %>
