<% if suites.empty? %>
  <p>No results yet - students must have rooms assigned before we can display results.</p>
<% else %>
<table aria-label="Room Assignment Results">
  <thead>
    <tr>
      <th scope="col">Building</th>
      <th scope="col">Suite</th>
      <th scope="col">Room</th>
      <th scope="col">Occupants</th>
    </tr>
  </thead>
  <tbody>
    <% suites.each do |suite| %>
      <% suite.rooms.order(:number).each do |room| %>
        <% next if room.beds.zero? %>
        <tr class="result-room-<%= room.id %>">
          <td class="building"><%= suite.building_name %></td>
          <th scope="row"><%= suite.number %></th>
          <td><%= room.number %></td>
          <td class="student"><%= room_occupants(room) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
