<% provide(:title, 'Results by Student') %>
<h1>Results by Student</h1>
<% if @students.empty? %>
  <p>No results yet - students must have rooms assigned before we can display results.</p>
<% else %>
  <table aria-label="Room Assignment Results">
    <thead>
      <tr>
        <th scope="col">Student</th>
        <th scope="col">SID</th>
        <th scope="col">Building</th>
        <th scope="col">Room</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr class="result-student-<%= student.id %>">
          <th scope="row"><%= student.full_name %></td>
          <td class="sid"><%= student.student_id %></td>
          <td class="building"><%= student.building_name %></td>
          <td class="room"><%= student.room.number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'Export CSV', export_results_path, class: 'button' %>
