<h3>Group Report</h3>
<% if @groups_by_size.all? { |_s, groups| groups.empty? } %>
  <p>This draw does not have any groups yet.</p>
<% else %>
  <% @suite_sizes.each do |size| %>
    <h4><%= size_str(size).capitalize.pluralize %></h4>
    <table>
      <thead>
        <tr>
          <td>Group Leader</td>
          <td>Status</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @groups_by_size[size].each do |group| %>
          <tr id="group-<%= group.id %>">
            <td data-role="group-leader"><%= group.leader.full_name %></td>
            <td data-role="group-status"><%= group.status.capitalize %></td>
            <td data-role="group-actions">
              <%= link_to 'View', draw_group_path(@draw, group), class: 'button' %>
              <% if policy(group).edit? %>
                <%= link_to 'Edit', edit_draw_group_path(@draw, group), class: 'button' %>
              <% end %>
              <% if policy(group).destroy? %>
                <%= link_to 'Disband', draw_group_path(@draw, group), method: :delete, class: 'button alert' %>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
