<h2>Draw Summary</h2>
<table>
  <thead>
    <tr>
      <td>Suite Size</td>
      <td>Suites</td>
      <td>Groups</td>
      <td>Locked Groups</td>
      <td>Leftover Suites</td>
    </tr>
  </thead>
  <tbody>
    <% @suite_sizes.each do |size| %>
      <tr class="<%= diff_class(@diff[size])%>">
        <td data-role="suite-size"><%= size %></td>
        <td data-role="suite-count"><%= @suite_counts[size] %></td>
        <td data-role="group-count"><%= @group_counts[size] %></td>
        <td data-role="locked-count"><%= @locked_counts[size] %></td>
        <td data-role="oversubscription"><%= @diff[size] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
