<% provide(:title, "#{@draw.name} - Intent Report" ) %>
<h1 class="draw-name"><%= @draw.name %> - Intent Report</h1>
<div class="intent-report">
  <p>You can view and update the intents of the students in this draw below. Note that selecting a different option in the dropdown menu will <em>immediately</em> change that student's intent.</p>
  <hr />
  <div class="report_filter">
    <h3>Filter students</h3>
    <%= simple_form_for @filter, url: intent_report_draw_path(@draw) do |f| %>
      <%= f.input :intents, collection: User.intents.keys, as: :check_boxes,
                            include_hidden: false, error: false %>
      <%= f.submit 'Filter' %>
    <% end %>
  </div>
  <hr />
  <table>
    <thead>
      <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Intent</td>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr class="<%= student.intent %>">
          <td data-role="student-last_name"><%= student.last_name %></td>
          <td data-role="student-first_name"><%= student.first_name %></td>
          <td class="intent-form" id="intent-form-<%= student.id %>" data-role="student-intent"><%= render 'intent_form', user: student %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Return to draw', draw_path(@draw) %>
