<h1><%= @draw.name %> - Lottery number assignment</h1>
<table class="lottery-forms-table">
  <% @groups.each do |group| %>
    <tr class="lottery-form" id="lottery-form-<%= group.id %>">
      <%= render partial: 'lottery_form', locals: { group: group } %>
    </tr>
  <% end %>
</table>
<% if policy(@draw).start_selection? %>
  <%= link_to 'Start suite selection', start_selection_draw_path(@draw), method: :patch, class: 'button' %>
<% end %>
<p><%= link_to 'Back to draw', draw_path(@draw) %></p>
