<% provide(:title, "#{@draw.name} - Suite Selection") %>
<h1><%= @draw.name %> - Suite Selection</h1>
<p>Please select suites for each of the following groups, which have been assigned the lottery number <%= @groups.first.lottery_number %>. If there are insufficient suites available for the given size you may disband the groups of that size before proceeding.</p>
<%= simple_form_for @suite_selector, url: assign_suites_draw_path(@draw), method: :patch do |f| %>
  <% @groups.each do |group| %>
    <div id="group-fields-<%= group.id %>" class="actions">
      <h3><%= group.name %></h3>
      <% if @suites_by_size[group.size] %>
        <%= f.label "suite_id_for_#{group.id}".to_sym, text: group.name, style: 'display: none;' %>
        <%= f.input "suite_id_for_#{group.id}".to_sym, label: false, as: :select, collection: @suites_by_size[group.size], label_method: :number %>
      <% else %>
        <p>There are no more suites of size <%= group.size %> available. You must disband this group to proceed and its members will have to regroup following this draw.</p>
        <%= link_to 'Disband', draw_group_path(@draw, group, redirect_path: select_suites_draw_path(@draw)), method: :delete, data: { confirm: 'Are you sure you want to disband this group?' }, class: 'button alert small' %>
      <% end %>
    </div>
    <hr />
  <% end %>
  <%= f.submit 'Assign suites', data: { confirm: 'Are you sure that you want to assign these suites to these groups?' } %>
<% end %>
<%= link_to 'Back to draw', draw_path(@draw) %>

