<h1 class="draw-name"><%= @draw.name %></h1>
<% if @draw.draft? %>
<div class="suite-report">
    <%= render 'suite_report' %>
</div>
<% end %>
<% if policy(@draw).oversub_report? %>
  <div class="oversub-report">
    <%= render 'oversub_report' %>
  </div>
<% end %>
<% if policy(@draw).group_report? %>
  <div class="group-report">
    <h3>Group Report</h3>
    <%= render 'group_report', sizes: @suite_sizes, groups: @groups_by_size, actions_partial: 'groups/actions' %>
  </div>
<% end %>
<% if policy(@draw).intent_summary? %>
  <div class="intent-metrics">
    <h3>Intent Metrics</h3>
    <table>
      <tbody>
        <% @intent_metrics.each do |intent_value, count| %>
          <tr>
            <td class="metric-heading"><%= intent_value.humanize.capitalize %></td>
            <td class="<%= intent_value %>-count"><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @draw.pre_lottery? && @draw.intent_deadline %>
      <p><%= intent_deadline_str(@draw) %></p>
    <% end %>
    <% if policy(@draw).intent_report? %>
      <p><%= link_to 'View intent report', draw_intent_report_path(@draw) %></p>
    <% end %>
  </div>
<% end %>
<div>
  <% if policy(@draw).student_summary? %>
    <%= link_to 'View students', draw_student_summary_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).suite_summary? %>
    <%= link_to 'View suites', draw_suite_summary_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).activate? %>
    <%= link_to 'Begin draw process', activate_draw_path(@draw), method: :patch, class: 'button' %>
  <% end %>
  <% if policy(@draw).start_lottery? %>
    <%= link_to 'Proceed to lottery', start_lottery_draw_path(@draw), method: :patch, class: 'button' %>
  <% end %>
  <% if policy(@draw).lottery? %>
    <%= link_to 'Assign lottery numbers', draw_lottery_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).update? %>
    <%= link_to 'Add group to draw', new_draw_group_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).destroy? %>
    <%= link_to 'Delete', draw_path(@draw), method: :delete, class: 'button alert' %>
  <% end %>
</div>
