<h1 class="draw-name"><%= @draw.name %></h1>
<% if @draw.draft? %>
  <div class="suite-report">
    <%= render 'suite_report' %>
  </div>
  <hr />
<% end %>
<% if policy(@draw).oversub_report? %>
  <div class="oversub-report">
    <%= render 'oversub_report', draw: @draw %>
  </div>
  <hr />
<% end %>
<% if policy(@draw).group_report? %>
  <div class="group-report">
    <h3>Group Report</h3>
    <%= render 'group_report', sizes: @sizes, groups: @groups_by_size, 
                               diff: @diff, group_counts: @group_counts,
                               suite_counts: @suite_counts,
                               actions_partial: 'groups/actions',
                               path: draw_path(@draw) %>
  </div>
  <hr />
<% end %>
<div class="ungrouped-report">
  <%= render 'ungrouped_report' %>
</div>
<hr />
<% if policy(@draw).intent_actions? %>
  <div class="intent-actions">
    <h3>Intent Actions</h3>
    <% if policy(@draw).intent_report? %>
      <p><%= link_to 'View intent report', intent_report_draw_path(@draw) %></p>
    <% end %>
    <% if policy(@draw).lock_intent? %>
      <%= simple_form_for @draw do |f| %>
        <%= f.input :intent_locked, as: 'hidden',
          input_html: { value: !@draw.intent_locked } %>
        <%= f.submit lock_intent_btn_label(@draw),
                     **with_tooltip(text: lock_intent_btn_tooltip(@draw)) %>
      <% end %>
    <% end %>
    <% if policy(@draw).bulk_on_campus? %>
      <%= link_to 'Make all students on campus', bulk_on_campus_draw_path(@draw),
                  method: :patch,
                  **with_tooltip(text: 'Sets all students who have not declared'\
                                 ' their housing intent to living on campus',
                                 class_override: 'button') %>
    <% end %>
  </div>
  <hr />
<% end %>
<div>
  <% if policy(@draw).edit? %>
    <%= link_to 'Edit', edit_draw_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).student_summary? %>
    <%= link_to 'View students', student_summary_draw_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).suite_summary? %>
    <%= link_to 'View suites', suite_summary_draw_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).activate? %>
    <%= link_to 'Begin draw process', activate_draw_path(@draw), method: :patch, class: 'button' %>
  <% end %>
  <% if policy(@draw).start_lottery? %>
    <%= link_to 'Proceed to Lottery', lottery_confirmation_draw_path(@draw),
                class: start_lottery_btn_class(@draw) %>
  <% end %>
  <% if policy(@draw).start_selection? %>
    <%= link_to 'Start suite selection', start_selection_draw_path(@draw), method: :patch, class: 'button' %>
  <% end %>
  <% if policy(@draw).lottery? %>
    <%= link_to 'Assign lottery numbers', lottery_draw_path(@draw), class: 'button' %>
  <% end %>
  <% if policy(Group).new? && policy(@draw).group_actions? %>
    <%= link_to 'Add group to draw', new_draw_group_path(@draw), class: 'button secondary' %>
  <% end %>
  <% if policy(@draw).destroy? %>
    <%= link_to 'Delete', draw_path(@draw), method: :delete, class: 'button alert' %>
  <% end %>
</div>
