<h1 class="draw-name"><%= @draw.name %></h1>
<div class="intent-metrics">
  <h2>Intent Metrics</h2>
  <table>
    <tbody>
      <% @intent_metrics.each do |intent_value, count| %>
        <tr>
          <td class="metric-heading"><%= intent_value.humanize.capitalize %></td>
          <td class="<%= intent_value %>-count"><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @draw.pre_lottery? && @draw.intent_deadline %>
    <p><%= intent_deadline_str(@draw) %></p>
  <% end %>
  <% if policy(@draw).intent_report? %>
    <%= link_to 'View intent report', draw_intent_report_path(@draw) %>
  <% end %>
</div>
<% if policy(@draw).activate? %>
  <%= link_to 'Begin draw process', activate_draw_path(@draw), method: :patch %>
<% end %>
<%= link_to 'Delete', draw_path(@draw), method: :delete %>

