<h1 class="draw-name"><%= @draw.name %> Students</h1>
<div class="student-assignment">
  <h2>Student actions</h2>
  <% if @class_years.empty? %>
    <p>There are no students available to add to this draw.</p>
  <% else %>
    <div class="bulk">
      <h3>Add students by class year</h3>
      <%= simple_form_for @students_update, url: draw_students_update_path(@draw), method: :patch do |f| %>
        <%= f.input :class_year, as: :select, collection: @class_years %>
        <%= f.submit 'Assign students' %>
      <% end %>
    </div>
  <% end %>
</div>
<hr />
<div class="students-list">
  <h2>Students in draw</h2>
  <% @students.each do |student| %>
    <div class="student-item"><%= link_to student.full_name, user_path(student) %></div>
  <% end %>
</div>
<hr />
<%= link_to 'Return to draw', draw_path(@draw) %>
