<% provide(:title, "#{@draw.name} - Students") %>
<h1 class="draw-name"><%= @draw.name %> Students</h1>
<div class="student-assignment">
  <h3>Student actions</h3>
  <div class="bulk">
    <% if @available_students_count.zero? %>
      <p>There are no students available to add to this draw.</p>
    <% else %>
      <h4>Add students by class year</h4>
      <%= simple_form_for @students_update, url: students_update_draw_path(@draw), method: :patch do |f| %>
        <%= f.input :class_year, as: :select, collection: @class_years, required: true %>
        <%= f.submit 'Assign students', data: { confirm: 'This will assign ALL students of the selected class year to this draw and cannot be undone! Are you sure you want to proceed?' } %>
      <% end %>
    <% end %>
  </div>
  <div class="single">
    <h4>Add/Remove by NetID</h4>
    <%= simple_form_for @student_assignment_form, url: students_update_draw_path(@draw), method: :patch do |f| %>
      <%= f.input :username %>
      <%= f.input :adding, label: 'Action', as: :select, collection: [['Add', true], ['Remove', false]], required: true %>
      <%= f.submit 'Process' %>
    <% end %>
  </div>
</div>
<hr />
<div class="students-list">
  <h3>Students in draw (<%= @students.count %> total)</h3>
  <%= render 'users/table', users: @students, hide_actions: true %>
</div>
<hr />
<%= link_to 'Return to draw', draw_path(@draw) %>
