<div class="homepage-hero">
  <h1>Vesta: About Us</h1>
  <p>
  Named after the Roman goddess of hearth and home, Vesta is an open source web app that manages the housing process for Yale's residential colleges. It was built by the Yale Student Developers, student employees who work on university software in collaboration with the ITS Application Development team via the <%= link_to 'Yale Student Developer and Mentorship Program', 'https://yalestc.github.io', target: '_blank' %>.
  </p>
  <p>If you'd like to learn more about Vesta you can visit our <%= link_to 'documentation site', 'https://yale-sdmp.gitlab.io/vesta', target: '_blank' %>, or view our <%= link_to 'code repository on GitLab', 'https://gitlab.com/yale-sdmp/vesta', target: '_blank' %>. For technical questions, please <%= link_to 'open an issue', 'https://gitlab.com/yale-sdmp/vesta/issues/new', target: '_blank' %> or <%= link_to 'contact the developer team', 'mailto:vesta-support@yale.edu' %>.
</p>
</div>
