<% provide(:title, 'Enrollment Results') %>
<h1>Enrollment Results</h1>
<h2>The following users were successfully added</h2>
<table aria-label="Enrollment Results">
  <thead>
    <tr>
      <% if @enrollment.username? %>
        <th scope="col">Username</th>
      <% end %>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Email</th>
      <th scope="col">Class Year</th>
    </tr>
  </thead>
  <tbody>
    <% @enrollment.successes.each do |student_hash| %>
      <tr>
        <% if @enrollment.username? %>
          <th scope="row"><%= student_hash[:user].username %></th>
        <% end %>
        <td><%= student_hash[:user].last_name %></td>
        <td><%= student_hash[:user].first_name %></td>
        <td><%= student_hash[:user].email %></td>
        <td><%= student_hash[:user].class_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if policy(@enrollment).new? %>
  <%= link_to 'Import more students', new_enrollment_path %>
<% end %>
