<h1 class="building-name"><%= @building.name %></h1>
<h2>Suites</h2>
<ul>
  <% @suites.each do |suite| %>
    <li><%= link_to suite.number, suite_path(suite) %> - <%= pluralize(suite.size,'bed') %></li>
  <% end %>
</ul>
<p><%= link_to 'Add suite', new_suite_path %></p>
<p><%= link_to 'Delete', building_path(@building), method: :delete %></p>
