<h1 class="building-name"><%= @building.name %></h1>
<h2>Suites</h2>
<% @suites.keys.each do |size| %>
  <div class="suites-list suites-<%= size_str(size).pluralize %>">
    <h3><%= size_str(size).pluralize.titleize %></h3>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td># Singles</td>
          <td># Doubles</td>
          <td># Common</td>
          <td>Draws</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @suites[size].each do |suite| %>
          <tr id="suite-<%= suite.id %>">
            <td data-role="suite-number"><%= link_to suite.number, suite_path(suite) %></td>
            <td data-role="suite-singles"><%= suite.singles.count %></td>
            <td data-role="suite-doubles"><%= suite.doubles.count %></td>
            <td data-role="suite-common"><%= suite.common_rooms.count %></td>
            <td data-role="suite-draws">
              <%= render partial: 'suites/draw_link', collection: suite.draws, spacer_template: 'shared/comma' %>
            </td>
            <td data-role="suite-actions">
              <%= link_to 'View', suite_path(suite), class: 'button' %>
              <% if policy(suite).edit? %>
                <%= link_to 'Edit', edit_suite_path(suite), class: 'button' %>
              <% end %>
              <% if policy(suite).destroy? %>
                <%= link_to 'Delete', suite_path(suite), method: :delete, class: 'button alert' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<hr />
<p><%= link_to 'New Suite', new_suite_path, class: 'button secondary' %></p>

<h2>Import Suites</h2>
<p>Add many suites at once by uploading a CSV file with the building information.
The CSV must have the format "Number, Singles, Doubles" where Number is the 
identifier of the suite, Singles is the number of single bedrooms in the suite,
and Doubles is the number of double bedrooms in the suite.</p>
<p>
<%= simple_form_for @suite_importer, url: suite_import_path do |f| %>
  <%= f.hidden_field :building_id, value: @building.id %>
  <%= f.input :file, label: 'Upload a CSV', as: :file %>
  <%= f.submit 'Import' %>
<% end %>
</p>
<p><%= link_to 'Delete', building_path(@building), method: :delete %></p>
