<% provide(:title, @group.name) %>
<%= render 'groups/group_details', group: @group %>
<% if policy(DrawlessGroup.new(@group)).select_suite? %>
  <h3><%= suite_str(@group) %></h3>
  <% if @group.suite.present? %>
    <%= simple_form_for @group, url: select_suite_group_path(@group), method: :patch do |f| %>
      <%= f.input :suite, as: :hidden, input_html: { value: '' } %>
      <%= f.submit 'Remove suite' %>
    <% end %>
  <% else %>
    <%= simple_form_for @group, url: select_suite_group_path(@group), method: :patch do |f| %>
      <%= f.input :suite, collection: @compatible_suites, label_method: :number_with_medical, selected: @group.suite.try(:id) %>
      <%= f.submit 'Assign suite' %>
    <% end %>
  <% end %>
<% elsif @group.suite.present? %>
  <h3>Suite: <%= @group.suite.name %></h3>
<% end %>
<hr />
<div>
  <%= link_to 'Edit', edit_group_path(@group), class: 'button secondary' if policy(@group).edit? %>
  <% if policy(@group).lock? %>
    <%= link_to 'Lock Group', lock_group_path(@group), method: :put, class: 'button alert' %>
  <% end %>
  <% if policy(@group).unlock? %>
    <%= link_to 'Unlock All Members', unlock_group_path(@group), method: :put, class: 'button alert' %>
  <% end %>
  <% if policy(@group).assign_rooms? %>
    <%= link_to 'Assign rooms', new_group_room_assignment_path(@group), class: 'button' %>
  <% end %>
  <% if policy(@group).edit_room_assignment? %>
    <%= link_to 'Edit room assignments', edit_group_room_assignment_path(@group), class: 'button' %>
  <% end %>
  <%= link_to('Disband', group_path(@group), method: :delete, data: { confirm: 'Are you sure you want to disband this group?' }, class: 'button alert') if policy(@group).destroy? %>
</div>

<%= link_to 'View all special groups', groups_path %>

<% content_for :sidebar do %>
  <h3>
    <%= @compatible_suites.count %> available
    <%= size_str(@group.size).capitalize.pluralize(@compatible_suites.count) %>
  </h3>
  <% unless @compatible_suites_no_draw.count.zero? %>
    <h4>Not in Any Draw</h4>
    <%= render 'groups/suites_table', suites: @compatible_suites_no_draw.group_by(&:building) %>
  <% end %>
  <% unless @compatible_suites_in_draw.count.zero? %>
    <h4>In Draw(s)</h4>
    <%= render 'groups/suites_table', suites: @compatible_suites_in_draw.group_by(&:building) %>
  <% end %>
<% end %>
