<p><%= hash[:intent]['on_campus'] %> on campus students</p>
<p><%= hash[:intent]['undeclared'] %> undeclared students</p>
<p><%= hash[:intent]['off_campus'] %> off campus students</p>

<div class="oversub-report">
<table>
  <thead>
    <tr>
      <td>Suite Size</td>
      <td>Suites</td>
      <td>Groups</td>
      <td>Locked Groups</td>
      <td>Leftover Suites</td>
  </thead>
  <tbody>
    <% hash[:sizes].each do |size| %>
      <tr class="<%= diff_class(hash[:diff][size])%>"]>
        <td data-role="suite-size"><%= size_str(size).capitalize.pluralize %></td>
        <td data-role="suite-count"><%= hash[:suite_counts][size] %></td]>
        <td data-role="group-count"><%= hash[:group_counts][size] %></td]>
        <td data-role="locked-count"><%= hash[:locked_counts][size] %></td]>
        <td data-role="oversubscription"><%= hash[:diff][size] %></td]>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
