<% provide(:title, 'Settings') %>
<h1 class="college-name"><%= @college.name %></h1>
<dl>
  <dt>Dean</dt>
  <dd><%= @college.dean %></dd>
  <dt>Admin E-mail</dt>
  <dd><%= @college.admin_email %></dd>
  <dt>Site URL</dt>
  <dd><%= root_url(host: @college.host) %></dd>
</dl>
<div>
  <% if policy(@college).edit? %>
    <%= link_to 'Edit settings', edit_college_path(@college), class: 'button secondary' %>
  <% end %>
</div>
