<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a href="#">Draws <div class="arrow-down"></div></a>

    <ul class="menu vertical">
      <li><%= link_to 'All Draws', draws_path %></li>
      <li><%= link_to 'New Draw', new_draw_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Special Groups <div class="arrow-down"></div></a>
    <ul class="menu vertical">
      <li><%= link_to 'All Special Groups', groups_path %></li>
      <li><%= link_to 'Create Special Group', new_group_path %></li>
    </ul>
  </li>
  <li><a href="#">Users <div class="arrow-down"></div></a>
    <ul class="menu vertical">
      <li><%= link_to 'All Users', users_path %></li>
      <li><%= link_to 'Add User', new_user_path %></li>
      <li><%= link_to 'Import Users', new_enrollment_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Inventory <div class="arrow-down"></div></a>
    <ul class="menu vertical">
      <li><%= link_to 'All Buildings', buildings_path %></li>
      <li><%= link_to 'New Building', new_building_path %></li>
    </ul>
  </li>
</ul>
